@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    justify-content: center;
  }


  body{
    background-color:black;
  }
  section, footer{
    padding: 100px 0;
    
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
  }

section .banner{
  display: flex;
  justify-content: center;
  flex-direction:row;
  margin: 200px;

}
section .banner-text{
  font-size: 30px;
  font-family: "Oswald";
  color: #ffffff;
}
section .banner-text h1{
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
}

header{
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
  background-image: url(img/IMAGEM-TOPO.png);
  background-size: 3356 2000;
}
  nav{
    padding-top: 30px ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    font-family: "Oswald";
       
}

nav ul{
  align-items: center;
  display: flex;
  
}
nav ul a{
  margin: 0 25px;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 20px;
  display: block;
}
nav ul a:hover{
  background-color: #edb651;
  border-bottom: 2px solid white; 
  color: #8f1c1a;
}

nav .mobile-menu{
  display: none;
  cursor:pointer;
  font-size: 30px;
  color: #fff;
}
nav .close{
  display: none;
  font-size: 30px;
  color:#fff;
  cursor:pointer;
}
form{
  margin: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 20px;
  background-color: white;
  display: flex;
}
form input{
  padding: 5px;
  border: none;
  outline:none;
  flex:1;
}
form button {
  padding:5px 15px;
  background-color:#edb651;
  border: none;
  text-transform: uppercase;
  border-radius: 10px ;
  cursor: pointer;
  font-family: "Oswald";

}
form button:hover{
  background-color: #8f1c1a;
}
.filmesd{
  margin-top:10px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 5px;
  display:flex;
  font-family: "Oswald";
  font-size: 10px;
  cursor: pointer;
}
.filmes {
  padding: 20px;
  width: 240px;
  border: 2px solid #edb651 ;
  border-radius: 5%;
  text-align: center;
  margin: 10px;
}
.filmes img{
  width: 100%;
}
.filmes a {
  color: #edb651;
  text-transform: uppercase;
}
.filmes:hover{

   background-color: #edb651;
   color: black;
}
.filmes a:hover{

    color: black;
    text-decoration: solid
       
}
.secdestaques{
  width:auto;
  background-color: black;
  margin-top: 4px;
  margin-left: 30px;
  display: flex;
}
.criticas,
.trailers {
  display: inline-block;
  margin-left:6%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8f1c1a;
  padding: 10px;
  color: white;
  font-family: "Oswald";
  width: 100%;
}
footer ul{
list-style: none;}
footer a {
  text-decoration: none;
  color:#edb651;
  margin-left: 5px;
  display: block;
}

footer a:hover {
  background-color: #edb651;
  color: white;
}

.postfilmes{
  background-color:black;
  margin-left: 20%;
  margin-right: 15%;
  border-radius: 30px;

}
.textopost{
  margin-left: auto;
  margin-right: 200px;
  color: #ffffff;
  font-family: "oswald";
  font-weight: lighter;
  font-size: 20px;
}
.titulopost, .titulo{
  font-size: 40px;
  font-family: Oswald;
  color:#8f1c1a;
  text-transform: uppercase;
  margin-left: 10%;
  margin-left: 10%;
  font-weight: bold;
}
.capafilme{
 justify-content: center;
}

.texto1{
  font-size: 20px;
  font-family: Oswald;
  color:#8f1c1a;
  text-transform: uppercase;
  margin-left: 20px;
}
.playfilme {
  display: none;

}
#iframeContainer{
  margin: 100px;
}
#botaofilme{
 margin: auto;
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  background-color:#edb651;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "oswald";
  font-weight: bold;
  text-transform: uppercase;
}

#botaofilme:hover {
  background-color:#8f1c1a;
}

#comment-input {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

#localcomentario {
  margin-top: 20px;
}

#comment-form{
justify-content: right;
display: block;
font-family: 'oswald';
font-weight: bold;
color: #edb651;
margin: auto;
background-color: #8f1c1a;
}
#nickname, #comment-input{
  font-size: 15px;
  border: 2px solid #edb651;
  margin:4px ;

}

#rating-container {
  margin-left: 20px;
  display: inline-block;
  direction: rtl;
}

#rating-container input[type="radio"] {
  display: none;
}

#rating-container label {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('img/estrela2.png');
  background-size: cover;
  cursor: pointer;
}

#rating-container label:hover,
#rating-container input[type="radio"]:checked ~ label {
  background-image: url('img/estrela1.png'); 
  background-size: cover;
}
.mensagem{
  color: #fff;
  font-family: "oswald";
  text-decoration: wavy;
}
@media (max-width: 830px){

.ul{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#8f1c1a;
  clip-path: circle(0% at 100% 0);
  transition: 02s;
}
.open{
  clip-path: circle(141.4% at 100% 0);
}
.ul a{
  margin:10px;
  font-size: 40px;

}
nav .mobile-menu{
  display: block;
}
nav .close{
  display: block;
  position: absolute;
  top: 46px;
  right: 48px;
}
 .filmesd{
 margin: 1px; 
 flex-direction: column;
}
.titulo{
  font-size: 50px;
  justify-content: left;
  margin-left:auto ;
}
.secdestaques {
  flex-direction: column;
}

.criticas,
.trailers {
 width: 100%;
}
.postfilmes {
  margin-left: auto;
}

.textopost {
    display: none;
}

.titulopost {
  font-size: 24px;
  margin-left: auto;
}
header{
  background-image: none;

}
footer{
  background-color: #000;
  color: #8f1c1a;
  display: flow-root;
}
}
